# **`Data Science Learners Hub`**

**Module : SQL**

**email** : [datasciencelearnershub@gmail.com](mailto:datasciencelearnershub@gmail.com)

### **`# Magic Tables (Inserted, Deleted) in SQL`**

**1. Introduction:**
- Magical tables, also known as pseudo-tables, are temporary virtual tables automatically generated by SQL Server whenever an INSERT, UPDATE, or DELETE statement triggers a DML trigger. These tables provide access to the data affected by the operation:

- `INSERTED Table`: Holds the newly inserted or updated rows after the operation.

- `DELETED Table`: Holds the deleted rows before the operation.

**2. Importance in SQL:**
   - The `Inserted` and `Deleted` tables play a crucial role in SQL triggers. Triggers are special stored procedures that are automatically executed (or "triggered") in response to specific events like INSERT, UPDATE, or DELETE operations on a table.

**3. Real-World Application:**
   - In our online store example, you can use triggers to capture details about changes in orders or customer information. The `Inserted` table holds the new values being added, and the `Deleted` table stores the values being removed or updated.

**4. Syntax and Types**:

- **Inserted Table:**
  - **Syntax:**
    ```sql
    CREATE TRIGGER TriggerName
    ON TableName
    AFTER INSERT
    AS
    BEGIN
        -- Access the inserted rows using the Inserted table
        SELECT * FROM Inserted;
    END;
    ```
  - **Explanation:** Used to access rows that are being inserted.

- **Deleted Table:**
  - **Syntax:**
    ```sql
    CREATE TRIGGER TriggerName
    ON TableName
    AFTER DELETE
    AS
    BEGIN
        -- Access the deleted rows using the Deleted table
        SELECT * FROM Deleted;
    END;
    ```
  - **Explanation:** Used to access rows that are being deleted.

- `Inserted`: This table holds the newly inserted or updated rows.
- `Deleted`: This table stores the rows that are being deleted or updated.

**5. Practical Applications:**

- `Logging changes`: Tracking changes made to a table for auditing purposes.


**6. Considerations:**

   - Triggers should be used judiciously as they add an extra layer of complexity to the database operations.

   - Be cautious about the performance impact of triggers, especially in scenarios with frequent database modifications.

**7. Common Mistakes:**

- Forgetting to handle cases where multiple rows are affected (considering `Inserted` and `Deleted` as single-row tables).

- Neglecting to check for nested triggers, which can lead to unexpected behavior.
   
- Incorrect Table Reference: Mistakenly referencing Inserted or Deleted without considering the trigger context.

**8. Hands-On Experience:**

In [1]:
USE DataScienceLearnersHub

In [4]:
DROP TABLE Orders

In [5]:
-- Let's create a simple table for our online store scenario:
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    TotalAmount DECIMAL(10, 2)
);

In [6]:
-- Creating a trigger

CREATE TRIGGER tr_OrderHistory
ON Orders
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    -- Capture changes in the 'Inserted' and 'Deleted' tables
    -- For simplicity, let's print the changes

    PRINT 'Newly Inserted Rows:';
    SELECT * FROM Inserted;

    PRINT 'Deleted Rows:';
    SELECT * FROM Deleted;
END;

**Questions based on table**

Q1. **Insert Operation:**
   - Insert a new order into the `Orders` table and observe the trigger output.

In [7]:
-- Insert a new order
INSERT INTO Orders (OrderID, CustomerName, TotalAmount)
VALUES (1, 'Laxman', 150.00);

OrderID,CustomerName,TotalAmount
1,Laxman,150.00

Q2. **Update Operation:**
   - Update the total amount of an existing order and check the trigger output.

In [8]:
-- Update the total amount of an existing order
UPDATE Orders
SET TotalAmount = 200.00
WHERE OrderID = 1;

OrderID,CustomerName,TotalAmount
1,Laxman,200.00

OrderID,CustomerName,TotalAmount
1,Laxman,150.00

Q3. **Delete Operation:**
   - Delete an order and analyze the trigger results.

In [9]:
-- Delete an order
DELETE FROM Orders
WHERE OrderID = 1;

OrderID,CustomerName,TotalAmount
1,Laxman,200.00

Q4. **Multiple Rows:**
   - Perform operations that affect multiple rows and see how `Inserted` and `Deleted` handle them.

In [10]:
-- Insert multiple orders
INSERT INTO Orders (OrderID, CustomerName, TotalAmount)
VALUES (2, 'Harshita', 300.00),
       (3, 'Naina', 250.00);

OrderID,CustomerName,TotalAmount
3,Naina,250.00
2,Harshita,300.00

**9. Homework Questions:**

1. **Scenario Analysis:**
   - Describe a real-world scenario where using `Inserted` and `Deleted` tables in a trigger would be beneficial.

2. **Understanding Nested Triggers:**
   - Explain the concept of nested triggers and potential issues they may cause in the context of `Inserted` and `Deleted` tables.

3. **Performance Consideration:**
   - Discuss the performance considerations of using triggers with `Inserted` and `Deleted` tables. Provide examples.

4. **Advanced Trigger Logic:**
   - Modify the trigger to perform more advanced logic, such as updating related tables based on changes in the `Inserted` and `Deleted` tables.

**10. Some Facts:**

- SQL Server internally manages the `Inserted` and `Deleted` tables, making them accessible within trigger contexts.
- These tables are magical in the sense that they allow you to see the before and after states of rows affected by an operation.

By following this structured approach, your students will not only understand the concepts of `Inserted` and `Deleted` tables but also gain practical experience and insights into their usage in SQL Server triggers.